<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="100%" border="1px">
    <thead>
    <tr>
        <th>No</th>
        <th>title</th>
        <th>writer</th>
        <th>regdate</th>
        <th>hit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.board_id}"></td>
        <td>
            <a th:text="${board.title}" th:href="@{|/board/detail?board_id=${board.board_id}|}">제목</a>
        </td>
        <td th:text="${board.writer}"></td>
        <td th:text="${board.regdate}"></td>
        <td th:text="${board.hit}"></td>
    </tr>
    <tr colspan="5">
        <button onclick="location.href='/board/registform';">글 등록</button>
    </tr>
    </tbody>
</table>
    <div th:replace="~{fragments/footer :: footer}"></div>   <!-- 타임리프 버전 include, 앞에는 경로, 뒤에는 fragment의 id-->
</body>
</html>